@charset "UTF-8";
/* CSS Document */
body {
	width:900px;
	border:0;
	margin:0 auto;
	padding:0;
	font-family:Helvetica bold, Arial bold, sans-serif;
	font-size:12px;
	letter-spacing:normal;
	}
img {
	border:none;
	padding:none;
	margin:none;
	}
a {
	border:none;
	text-decoration:none;
	color:#FF0000;
	outline:none;
	}
a:hover {
	background-color:#FF0000;
	color:#FFFFFF;
	}
a:visited {
	color:#B00;
	}
a:visited:hover {
	background-color:#FF0000;
	color:#FFFFFF;
	}
	
.cutout{
	position:relative;  
	left:-80px; 
	width:100px; 
	height:0px;
	display:block;
	text-align:right;
	}

.overview {
	position:fixed; 
	top:0px; 
	left:0px; 
	width:100%; 
	height:100%;  
	background-image:url(../img/fader_90.png);
	z-index:20;
	}
	
.overview span {
	width:800px;
	margin:20px auto 0 auto;
	display:block;
}

.overview span h1 {
	color:#000;
	font-size:36px;
	line-height:20px;
}

.overview span span {
	color:#000;
	font-size:36px;
	font-weight:bold;
	margin-bottom:15px;
}
	
.overview span img {
	width:800px;
	height:100px;
	border:none;
	margin-bottom:10px;
}

.closebutton {
	/*float:left*/;
	width:80px;
	height:25px;
	display:block;
	text-align:center;
	line-height:25px;
	background-color:#FF0000;
	color:#FFFFFF;
	position:relative;
	left:-90px;
	top:95px;
}
.closebutton:hover {
	background:none;
	color:#FF0000;
}

#continuebutton a {
	background:url(../img/badge_continue.png);
	display:block;
	width:30px;
	height:230px;
}
#continuebutton a:hover{
	background:url(../img/badge_continue_hover.png);
}

#returntoshopbutton a {
	background:url(../img/badge_return.png);
	display:block;
	width:30px;
	height:210px;
}
#returntoshopbutton a:hover{
	background:url(../img/badge_return_hover.png);
}

#kante_shop{
	margin:0;
	background-image:url(../img/kante_2.png);
	width:225px;
	height:125px;
	display:block;
	float:left;
}
#kante_shop:hover{
	background-image:url(../img/kante_2_hover.png);
}
#kante_showcase{
	margin:0;
	background-image:url(../img/kante_3.png);
	width:275px;
	height:125px;
	display:block;
	float:left;
}
#kante_showcase:hover{
	background-image:url(../img/kante_3_hover.png);
}

#shop{
	font-size:14px;
	width:800px;
	margin:0 auto;
	position:relative;
}

.shopentry{
	margin:0;
	width:800px;
	height:90px;
	display:block;
}
.shopentry a img {
	width:80px;
	height:50px;
	float:right;	
}
.shopentry span{
	padding-top:14px;
	padding-right:5px;
	background-image:url(../img/fader_80.png);
	width:150px;
	height:90px;
	display:none;
	position:relative; 
	top:0px; 
	left:-155px; 
	text-align:right;
}
.shopentry span em{
	font-size:12px;
	font-style:normal;
}
.shopentry:hover span{
	display:block;
}
.shopentry:hover{
	background:none;
}